* {
    margin: 0px;
    padding: 0px;
}

/* common styles here  */
body {
    font-family: 'Work Sans', sans-serif;
}

/* header related styles here  */
header {
    background-image: url('../assets/images/banner/banner1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 120px;
}

.header-info {
    max-width: 490px;
    text-align: right;
    margin: 50px 20px;
}

.header-info h1 {
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 20px;
}

.header-info p {
    font-size: 16px;
    margin-bottom: 30px;
}

.header-info button {
    font-size: 20px;
    text-align: right;
    font-weight: 600px;
    color: white;
    background-color: #F15B22;
    padding: 20px;
    border: none;
}

/* my failure related styles here  */
.my-failure {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}
.failure-img{
    border-radius: 420px;
    background-color: #ffd6b0;
    height: 390px;
    width: 390px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.failure-img>img {
    width: 420px;
    margin-top: -142px;
    margin-left: -18px;
}

.my-failure-info {
    max-width: 400px;
}

.my-failure-info h2 {
    font-size: 40px;
    font-weight: 700;
    color: #151414;
    margin-bottom: 25px;
}

.my-failure-info p,
.my-failure-info li {
    font-size: 16px;
    font-weight: 400;
    color: #444343;
    list-style: none;
    padding: 5px 0px;
}

/* my plans related styles starts here  */
.my-plans {
    padding-bottom: 80px;
}

.my-plans>h2 {
    font-size: 40px;
    font-weight: 700;
    color: #151414;
    text-align: center;
}

.plans {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

.plan-card {
    text-align: center;
    padding: 50px;
}

.plan-card img {
    width: 92px;
}

.plan-card h3 {
    font-size: 25px;
    font-weight: 700;
    color: #151414;
    padding: 10px 0px;
}

.plan-card p {
    font-size: 20px;
    font-weight: 700;
    color: #737272;
}

.positive-mindset-container {
    height: 200px;
    width: 80%;
    background-image: url('../assets/images/watch.png'), linear-gradient(60deg, #a33a10ea, #767e047a);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin: auto;
    padding-bottom: 20px;
}

.positive-mindset {
    width: 450px;
    padding: 40px;
    padding-left: 50px;
}

.positive-mindset h1 {
    font-size: 35px;
    font-weight: 700;
    color: white;
}

.positive-mindset button {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 30px;
    color: #F15B22;
    border-radius: 5px;
    border: none;
}

/* footer related styles here  */
footer {
    background-color: #151414;
    height: 70vh;
    color: white;
}

.footer-container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-left {
    width: 480px;
}

.footer-left h2 {
    font-size: 40px;
    font-weight: 700;
}

.footer-left p,
.footer-left a {
    padding: 10px 0px;
    font-size: 12px;
    color: white;
    text-decoration: none;
}
.social-icon{
    display: flex;
    gap: 15px;
}
.social-icon img{
    width: 35px;
}
.footer-right h3{
    margin: 20px 0px;
    font-size: 20px;
}
.footer-right input {
    padding: 12px;
    background-color: #151414;
    border: 1px solid white;
    border-radius: 5px;
}
#footer-btn {
    display: block;
    margin: 10px 0px;
    background-color: white;
    color: #F15B22;
    font-weight: bold;
}